
@-webkit-keyframes opacityAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes opacityAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes opacityAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacityAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.anim-opacity {
  .animation(opacityAnimation 1s infinite);
  .animation-timing-function(ease-in-out;)
}



@-webkit-keyframes rotateAnimation360 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes rotateAnimation360 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes rotateAnimation360 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes rotateAnimation360 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.anim-rotate360 {
  .animation(rotateAnimation360 2s infinite);
  .animation-timing-function(ease);
}



@-webkit-keyframes shakeAnimation30 {
  0%   { transform: rotate(0deg); }
  33%  { transform: rotate(-30deg); }
  67%  { transform: rotate(30deg); }
  100% { transform: rotate(0deg); }
}
@-moz-keyframes shakeAnimation30 {
  0%   { transform: rotate(0deg); }
  33%  { transform: rotate(-30deg); }
  67%  { transform: rotate(30deg); }
  100% { transform: rotate(0deg); }
}
@-o-keyframes shakeAnimation30 {
  0%   { transform: rotate(0deg); }
  33%  { transform: rotate(-30deg); }
  67%  { transform: rotate(30deg); }
  100% { transform: rotate(0deg); }
}
@keyframes shakeAnimation30 {
  0%   { transform: rotate(0deg); }
  16%  { transform: rotate(-30deg); }
  33%  { transform: rotate(30deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.anim-shake30 {
  .animation(shakeAnimation30 2s infinite);
  .animation-timing-function(ease);
}
