
.size(@size) {
  width: @size;
  height: @size;
}

.center(@margin: -250px) {
  .translate(-33%, @margin);
}

.font(@font-size, @weight: normal, @font-color: black, @letter-spacing: normal, @font-family: @default-font-family) {
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @weight;
  color: @font-color;
  letter-spacing: @letter-spacing;
}

.animate() {
  transition: margin 0.5s, opacity 0.5s, border-radius 0.5s, left 0.5s, top 0.5s, width 0.5s, height 0.5s;
}

.border(@border-color: @button-border-color, @border-size: @button-border-size, @border-radius: 13px) {
  border: @border-size solid @border-color;
  border-radius: @border-radius;
  .box-sizing(border-box);
}

.bg(@url, @url2x, @size, @repeat: no-repeat, @bg-color: transparent) {
  background: url(@url) @bg-color @repeat;
  background-size: @size;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background: url(@url2x) @bg-color @repeat;
    background-size: @size;
  }
}

.cursor(@urlCur, @url1x, @url2x, @offset, @default: auto) {
  cursor: url(@urlCur), @default;
  cursor: -webkit-image-set(
          url(@urlCur) 1x,
          url(@url2x) 2x
  ) @offset, @default;
}
