
@gray-color: #455A64;
@red-color: #EE6A6A;
@green-color: #92C980;
@light-orange-color: #FFC86E;
@header-margin: 7 * @grid-unit;

@font-lobster: 'Lobster', sans-serif;
@font-ubuntu: 'Ubuntu', sans-serif;
@default-font-family: @font-ubuntu;

@button-border-color: #FB8C00;
@button-border-size: 2px;
@button-bg-color: #FEF1CA;
@bubble-border-color: @light-orange-color;
@bubble-bg-color: #FFFBE1;
@label-color: #999999;


.top-hidden() {
  margin-top: -120px;
  .animate();
}

.top-visible() {
  margin-top: 0;
  .animate();
}

.left-hidden() {
  margin-left: -200px;
  .animate();
}

.left-visible() {
  margin-left: 0;
  .animate();
}

.opacity-hidden() {
  opacity: 0;
  .animate();
}

.opacity-visible() {
  opacity: 1;
  .animate();
}

.button(@border-color: @button-border-color, @bg-color: @button-bg-color) {
  display: inline-block;
  cursor: pointer;
  background: @bg-color no-repeat;

  .border(@border-color);

  .animate();
  .button-animate();
}

.button-animate() {
  &:hover {
    .animate();
    background-color: #FFF9E7;
    box-shadow: inset #FFF2CA 0 0 5px 3px;
  }
}

.hide(@size, @pad-top: 0, @pad-left: 0) {
  .button(@bg-color: #FFF9E7);
  border-radius: 50%;
  float: right;
  background-image: data-uri('src/main/assets/sword/hide.svg');
  background-size: @size;
  .size(@size);
  margin: -(@pad-top + @size / 2) -(@pad-left + @size / 2) 0 0;
  transition: 0.2s;

  &:hover {
    transition: 0.2s;
    transform: rotate(-90deg);
  }
}

.hidden-input() {
  display: block;
  outline: none;
  border: none;
  width: 0;
  height: 0;
  left: -1000px;
  position: fixed;
}

.textarea(@padding: 8px, @width, @height) {
  position: relative;

  textarea {
    .border(@border-size: 1px);
    .font(14px);
    outline: none;
    width: @width;
    height: @height;
    resize: none;
    overflow: auto;
    padding: @padding;
  }

  & > label {
    left: @padding;
    top: @padding;
    position: absolute;
    .font(16px, @font-color: @label-color);
  }

  textarea:focus + label {
    display: none;
  }
}

.gift(@size, @color: transparent) {
  width: inherit;
  height: inherit;
  .bg('header/gift.png', 'header/gift@2x.png', @size, @bg-color: @color);
}
