@import "util/vendor-prefixes";
@import "util/normalize";
@import "util/clearfix";

@import "util/helpers";
@import "util/style";
@import "util/animation";

@import "bem/elements";
@import "bem/page";
@import "bem/grid";
@import "bem/header";
@import "bem/grid-list";
@import "bem/shop";
@import "bem/quest";
@import "bem/preloader";
@import "bem/question";

@grid-unit: 10px;
@cell-unit: 3 * @grid-unit;

body {
  background-color: transparent;
  margin: auto;

  outline-style: none;

  .user-select(none);
}


.application {
  height: 705px;
  overflow-y: auto;
  overflow-x: hidden;

  .clearfix();
}

.application.overlay:after {
  display: block;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
  background-color: fade(black, 50%);
}

.hinted {
  .cursor('cursor/star.cur', 'cursor/star.png', 'cursor/star@2x.png', 14 14, crosshair);
}

.hinted * {
  cursor: inherit;
}
