<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Сканворды - Игра Слов</title>
    <meta charset="utf-8" />

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Lobster|Ubuntu:400,700,500|PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% block scripts %}{% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script>
      function style(url) {
        var style = document.createElement('link');
        style.rel = 'stylesheet';
        style.href = url;

        document.head.appendChild(style);
      }

      function script(url, callback) {
        function nop() {}
        function complete() {
          script.onreadystatechange = nop;
          script.onload = nop;

          callback();
        }

        var script = document.createElement('script');
        script.src = url;
        script.onload = complete;
        script.onreadystatechange = function() {
          if (script.readyState === 'complete' ||
              script.readyState === 'loaded') {
            complete();
          }
        };

        document.body.appendChild(script);
      }

      function main(options, version) {
        {% block main %}
        const platform = '{% block platform %}{% endblock %}';
        document.documentElement.className = platform;
        style('app.css?' + version);
        script('app.js?' + version, function() {
          init(platform, options);
        });
        {% endblock %}
      }
    </script>
    <script src="run.js"></script>
    {% block monitoring %}
    <script> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34245230 = new Ya.Metrika({ id:34245230, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
    {% endblock %}
  </body>
</html>
