
.avatar {
  @size: 40px;
  .size(@size);
  .border(@bubble-border-color, @border-radius: 50%);
  background-color: @button-bg-color;
  background-size: @size;
}

.scale-star(@size) {
  display: inline-block;
  .size(@size);
  .bg('star.png', 'star@2x.png', @size);
  margin-bottom: -@size*3/20;
}

.star {
  .scale-star(20px);
}

h2 {
  .star {
    .scale-star(30px);
  }
}

hr {
  height: 1px;
  background: @button-border-color;
  border: 0;
}
