@cell-size: 69px;
@cell-border-radius: 9px;

@light-bg-color: #FFFAE4;
.light-bg() {
  background-color: @light-bg-color;
}

@available-letter-bg-color: #B2DDD0;
@disabled-letter-bg-color: #FFF4D3;

@word-letter-bg-color: #8CCCC7;
@current-letter-bg-color: #58B8BB;

@disabled-letter-color: #374F47;

@clue-bg-color: #FDDA9A;
@current-clue-bg-color: #FECE7E;

@victory-letter-color: #BAE0B5;
@victory-clue-color: #E05996;

.grid__cell-background--arrow(@type) {
  .grid__cell-background--arrow-@{type} {
    background-image: data-uri('src/main/assets/sword/arrows/@{type}.svg');
  }
}

body {
  .bg('bg/texture.jpg', 'bg/texture@2x.jpg', 50px 50px, repeat);
}

.grid {
  .user-select(none);

  margin: auto;
  cursor: pointer;
  color: black;

  background: #FFF9E2;

  &__hidden-input {
    .hidden-input();
  }
}


.grid__cell {
  .user-select(none);
  transition: background-color 0.3s;

  margin-right: 1px;
  margin-bottom: 1px;

  display: table;

  width: @cell-size;
  height: @cell-size;

  border-radius: @cell-border-radius;

  &--clue {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 19px;
    line-height: 0.93;

    background-color: @clue-bg-color;
  }

  &--letter {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 40px;

    background-color: @available-letter-bg-color;
  }

  &--disabled-letter {
    background-color: @disabled-letter-bg-color;
    color: @disabled-letter-color;
  }

  &--current-word {
    background-color: @word-letter-bg-color;
  }

  &--current-letter {
    background-color: @current-letter-bg-color;
  }

  &--disabled-letter&--current-word&--current-letter {
    background-color: #B0CC80;
  }

  &--disabled-letter&--current-word {
    background-color: #D0DDA7;
  }
}


.grid__cell-content {
  display: table-cell;

  text-align: center;
  vertical-align: middle;
}


.grid__cell--clue.grid__cell--current-word {
  background-color: @current-clue-bg-color;
}

.victory(@bg-color) {
  transition: background-color 1s;
  color: black;
  background-color: fade(@bg-color, 80%);
}

.grid__cell--letter.grid__cell--victory {
  .victory(@victory-letter-color);
}

.grid__cell--clue.grid__cell--victory {
  .victory(@victory-clue-color);
}

.grid__cell-background {
  position: absolute;
  left: 0;
  top: 0;

  width: @cell-size;
  height: @cell-size;

  background-size: cover;
}

.grid__cell-background--arrow(h0);
.grid__cell-background--arrow(h1);
.grid__cell-background--arrow(h2);
.grid__cell-background--arrow(h3);
.grid__cell-background--arrow(h4);
.grid__cell-background--arrow(h5);
.grid__cell-background--arrow(h6);

.grid__cell-background--arrow(v0);
.grid__cell-background--arrow(v1);
.grid__cell-background--arrow(v2);
.grid__cell-background--arrow(v3);
.grid__cell-background--arrow(v4);
.grid__cell-background--arrow(v5);
.grid__cell-background--arrow(v6);
