@letter-color: #80CBC4;
@clue-color: #FFE0B2;
@letter-solved-color: fade(#FFECB3, 60%);
@clue-solved-color: fade(@clue-color, 60%);

.grid-list {
  .clearfix();

  .font(0);
  height: 100%;
  display: block;
  clear: both;
}

.grid-preview {
  .light-bg();

  position: relative;

  margin-right: @cell-unit;
  margin-bottom: @cell-unit;

  font-size: 0;
  text-align: center;
  display: inline-block;
  float: left;

  cursor: pointer;

  .user-select(none);
  .grid-preview--small();
}

.grid-preview--big {
  width: 10 * @cell-unit;
  height: 9 * @cell-unit;
  padding: 0.5 * @cell-unit;

  .grid-element {
    width: @cell-unit - 1;
    height: @cell-unit - 1;
    margin-bottom: 1px;
  }

  .grid-preview__header {
    width: 10 * @cell-unit;
    margin-left: 0 * @cell-unit;
    margin-top: 3 * @cell-unit;

    .font(32px, 700, @gray-color);
    line-height: 60px;
  }

  .desc-big() {
    width: 8 * @cell-unit;
    margin-left: 1 * @cell-unit;

    .font(14px, 400, @gray-color);
    line-height: 30px;
  }

  .grid-preview__desc {
    .desc-big();

    margin-top: 6 * @cell-unit;
  }
}

.grid-preview--small() {
  @mini-cell-unit: 19px;
  width: 6 * @cell-unit + 10;
  height: 6 * @cell-unit;
  padding: 17px 10px 13px 10px;

  @extra-padding: 1px;

  .grid-element {
    width: @mini-cell-unit - 1;
    height: @mini-cell-unit - 1;
    margin-bottom: 1px + @extra-padding;
  }

  .grid-preview__header {
    margin-left: 0 * @mini-cell-unit;
    margin-top: 2 * (@mini-cell-unit + @extra-padding);
    width: 10 * @mini-cell-unit;

    .font(19px, 700, @gray-color);
    line-height: 40px;
  }

  .desc-small() {
    margin-left: 1 * @mini-cell-unit;
    width: 8 * @mini-cell-unit;

    .font(12px, 400, @gray-color);
    line-height: 20px;
  }

  .grid-preview__desc {
    .desc-small();

    margin-top: 6 * (@mini-cell-unit + @extra-padding);
  }
}

.caption() {
  position: absolute;
  z-index: 1;
  .light-bg();
}

.grid-preview__header {
  .caption();
}

.grid-preview__desc {
  .caption();
}

.grid-element {
  display: inline-block;

  font-size: 0;

  margin: 0 0 1px 1px;
  border-radius: 5px;
  padding: 0;
  border: none;
}

.grid-element--letter {
  background-color: @letter-color;
  transition: background-color 1.0s;
}

.grid-element--disabled-letter {
  background-color: @letter-solved-color;
}

.grid-element--clue {
  background-color: @clue-color;
  transition: background-color 1.0s;
}

.grid-element--disabled-letter.grid-element--victory {
  .victory(@victory-letter-color);
}

.grid-element--clue.grid-element--victory {
  .victory(@victory-clue-color);
}
