
.button-only() {
  border-radius: 13px;
  .animate();
}

.button-left() {
  border-radius: 13px 0 0 13px;
  .animate();
}

.button-middle() {
  border-radius: 0;
  .animate();
}

.button-right() {
  border-radius: 0 13px 13px 0;
  .animate();
}

.menu(@margin, @max-width) {
  position: absolute;
  display: inline-block;
  float: left;

  left: @margin * @grid-unit;
  max-width: @max-width * @grid-unit;

  div {
    margin-left: 2px;
  }

  div:first-child {
    margin-left: 0;
  }
}

.header {
  @pad-v: @grid-unit;
  @header-height: @header-margin - 2 * @pad-v;
  @used-space: @header-height - 2 * @grid-unit;
  @button-width: @header-height + @grid-unit;
  @button-bg-size: @button-width - 2 * @button-border-size @header-height - 2 * @button-border-size;
  @bg-color: #FEF1CA;

  position: relative;
  left: 0;
  top: 0;
  height: @header-height;
  padding: @pad-v 0.5 * @grid-unit @pad-v 0.5 * @grid-unit;
  width: 100%;
  background-color: @bg-color;

  margin-bottom: 4px;

  line-height: @used-space;

  .user-select(none);
  .clearfix();

  .header-button() {
    min-width: @button-width;
    height: @header-height;
    float: left;
    background-size: @button-bg-size;

    .button();
  }

  &__history {
    display: inline-block;
    .clearfix();
    .left-hidden();

    &__game-id {
      .opacity-visible();
      float: left;
      display: inline-block;
      height: @used-space;
      margin-left: 6px;

      cursor: default;

      .font(28px);
      line-height: @header-height;

      .animate();
    }

    &__back {
      .header-button();

      margin-left: 2.5 * @grid-unit;
      background-image: data-uri('src/main/assets/sword/header/back.svg');
    }
  }

  &__next {
    .header-button();
    position: relative;
    float: right;
    margin-right: 43px;
    padding-left: @grid-unit;

    line-height: @header-height;
    text-align: center;

    .bg('header/next.png', 'header/next@2x.png', @button-bg-size,
        @bg-color: @bg-color);

    &__price {
      display: block;
      float: right;
      position: absolute;
      margin-top: -15px;
      right: -25px;

      &__star {
        position: absolute;
        z-index: 2;
        top: 9px;
        left: -20px;
        width: @header-height;
        height: @header-height;
        background-size: @header-height;
        background: data-uri('src/main/assets/sword/header/next-star.svg') no-repeat;
      }

      &__value {
        padding-left: 3px;
        position: absolute;
        top: 5px;
        left: -45px;

        width: 50px;
        height: 30px;

        .font(18px, 400, black, -1px);
        line-height: 26px;
        text-align: left;
        z-index: 1;
        background: #FFFBE1;

        border: 2px solid #FFC86E;
        border-radius: 15px;
        .box-sizing(border-box);
      }
    }

    &--pressed {
      .animate();
      margin-right: -100px;
    }
  }

  &__menu-do {
    .menu(20, 14);

    &__quest {
      position: relative;
      .header-button();
      .button-left();
      .top-hidden();
      .bg('header/quest.png', 'header/quest@2x.png', @button-bg-size,
        @bg-color: @bg-color);
      margin-bottom: 50px;

      &__status {
        transition: 0.5s;
        opacity: 0;
        @size: 24px;
        .size(@size);
        position: absolute;
        margin-top: -@size/3;
        left: -@size*2/3;
        border-radius: 50%;
        border: 2px solid #FFC86E;
        background: #FFFBE1;
      }
    }

    &__help {
      .header-button();
      .button-left();
      .top-hidden();
      border-radius: 13px 0 0 13px;
      background: @bg-color data-uri('src/main/assets/sword/header/help.svg') no-repeat;
      margin-bottom: 50px;
    }
  }

  &__menu-stars {
    .menu(30, 30);
    .animate();

    &__stars {
      .header-button();
      .button-left();
      padding: @grid-unit;
      position: relative;
      .clearfix();

      &__value {
        display: inline-block;
        margin-right: 4px;
        float: left;
        .font(28px);
        text-align: center;
        z-index: 1;
      }

      &__star {
        display: inline-block;
        width: @used-space;
        height: @used-space;
        z-index: 1;
        margin-left: 3px;

        .bg('header/progress-star.png', 'header/progress-star@2x.png', 28px,
            @bg-color: transparent);
      }

      div&__actions {
        border-radius: 11px 0 0 11px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        height: @header-height - 2 * @button-border-size;
        float: left;
        margin-left: 0;
        width: 100%;
        border: 0 solid fade(#0097A7, 40%);
        .box-sizing(border-box);
        .animate();
      }
    }

    &__shop {
      .header-button();
      .button-middle();

      .bg('header/shop.png', 'header/shop@2x.png', @button-bg-size,
          @bg-color: @bg-color);
    }

    .invite__tooltip {
      display: none;
      font-size: 0;
      position: absolute;
      border: @button-border-size solid @bubble-border-color;
      border-radius: 15px;
      top: @header-height - 2 * @button-border-size;
      left: 0;
      z-index: 2;
      padding: 10px 0 0 10px;
      background-size: cover;
      height: auto;
      background: @bubble-bg-color;
      cursor: default;

      &:before {
        position: absolute;
        display: block;
        content: '';
        top: -4px;
        left: 20px;
        width: 7px;
        height: 4px;
        float: left;
        background-image: data-uri('src/main/assets/sword/invite/tip.svg');
      }

      .invite__avatar {
        .size(40px);
        .border(@bubble-border-color);
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        background: no-repeat center;
        background-size: cover;

        &:after {
          @size: 16px;
          .size(@size);
          .bg('star.png', 'star@2x.png', @size);
          float: right;
          position: absolute;
          display: block;
          content: '';
          top: -(1/3) * @size;
          right: -(1/3) * @size;
        }
      }

      .invite__new {
        background-image: data-uri('src/main/assets/sword/invite/add.svg');
        &:after {
          display: none;
        }
      }

      .invite__avatar:nth-child(3n) {
        margin-right: 0;
      }
    }

    &__invite {
      .header-button();
      .button-middle();
      background: @bg-color;

      position: relative;

      &:hover {
        .invite__tooltip {
          display: inline-block;
        }
      }

      .invite__icon {
        @width: @button-width - 2 * @button-border-size;
        @height: @header-height - 2 * @button-border-size;
        .bg('header/unknown-person.png', 'header/unknown-person@2x.png', @width, @bg-color: transparent);
        width: @width;
        height: @height;

        &:after {
          .size(16px);
          .bg('star.png', 'star@2x.png', 16px);
          display: none;
          float: right;
          position: absolute;
          content: '';
          top: 2px;
          right: 10px;
        }
      }

      .invite__hover {
        .animate();
        .font(16px, 500);
        line-height: @header-height - 3 * @button-border-size;
        top: 0;
        width: @button-width - 2 * @button-border-size;
        height: @header-height - 2 * @button-border-size;
        margin: 0;
        border-radius: 50%;
        position: absolute;
        opacity: 0;
        background: fade(#FFFBE1, 80%);
        box-shadow: 0 0 5px 1px #FFFBE1;
        text-align: center;

        &:hover {
          .animate();
          opacity: 1;
        }
      }

    }

    &__gift {
      position: relative;
      .header-button();
      .button-right();

      .gift {
        .gift(@button-bg-size);
      }

      &:not(.wait-gift) {
        .gift {
          .anim-shake30;
        }
      }

      &__status {
        display: block;
        float: right;
        position: absolute;
        margin-top: -10px;
        padding: 0 5px 0 5px;
        right: -25px;
        height: 25px;
        border: 2px solid #FFC86E;
        background: #FFFBE1;
        border-radius: 13px;
        .font(12px, @letter-spacing: -0.3px);
        text-align: center;
        line-height: 21px;
        .box-sizing(border-box);

        .minutes, .colon, .seconds { display: none; }
        .size {
          display: inline-block;
          margin-right: 2px;
          text-align: right;
        }
        .star {
          display: inline-block;
          background-size: 16px;
          margin-bottom: -7px;
          width: 16px;
        }
      }
    }

    .wait-gift {
      .minutes, .colon, .seconds { display: inline-block; }
      .size, .star { display: none; }
    }
  }

  &__logo {
    display: inline-block;
    position: absolute;
    .left-hidden();

    width: @header-height;
    height: @header-height;

    left: 35px;

    background: data-uri('src/main/assets/sword/header/logo.svg') no-repeat;
    background-size: @header-height;
    border-radius: 14px;

    .animate();
  }
}

.header--history {
  .header__logo {
    .left-visible();
  }
}

.header:not(.header--history) {
  .header__history {
    .left-visible();
  }
}

.header.header--help {
  .header__history__game-id {
    .opacity-hidden();
  }
}

.header:not(.header--active-quest):not(.header--help-asked) {
  .header__menu-stars {
    left: 29 * @grid-unit;
    .animate();
  }
}

.header.header--active-quest:not(.header--help-asked) {
  .header__menu-do__quest {
    .button-only();
    .top-visible();
  }
}

.header.header--help-asked:not(.header--active-quest) {
  .header__menu-do__help {
    .button-only();
    .top-visible();
  }
}

.header.header--help-asked.header--active-quest {
  .header__menu-do__help {
    .button-left();
    .top-visible();
  }

  .header__menu-do__quest {
    .button-right();
    .top-visible();
  }
}

.header__menu-do__quest.header__menu-do__quest--reward {
  .header__menu-do__quest__status {
    transition: 0.5s;
    opacity: 1;
    background-image: data-uri('src/main/assets/sword/header/quest-reward.svg');
  }
}

.invite--has-accepted {
  .invite__icon {
    .anim-shake30;
    &:after {
      display: block;
    }
  }
}

.my {
  .header__menu-do__help {
    display: none;
  }

  .header--help-asked, .header--help-asked.header--active-quest {
    .header__menu-do__quest {
      .button-only();
    }
  }
}
