.page {
  position: relative;
  outline-style: none;

  &::selection { background: transparent; }
  &::-moz-selection { background: transparent; }

  &--game {
    color: transparent;
    font-size: 0;
  }

  &--help,
  &--history {
    padding: 3 * @grid-unit + 1 0 0 3 * @grid-unit;
    background: url('bg/cells.svg') repeat-y;
    margin: auto auto auto 2px;
    .clearfix();
    min-width: 739px;
    min-height: 600px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &--help {
    overflow: auto;
    min-height: 630px;
    height: 630px;
  }
}
