
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 3000;

  background: data-uri('src/main/assets/sword/preloader/bg.svg') no-repeat;
  box-shadow: inset 0 0 77px 40px fade(black, 24%);

  @shadow-color: fade(white, 67%);

  &__logo {
    @size: 140px;
    border-radius: 25%;
    margin-top: 7 * @grid-unit;
    margin-left: 760/2 - @size/2;
    .size(@size);
    background: data-uri('src/main/assets/sword/preloader/logo.svg') no-repeat;
    background-size: @size;
    box-shadow: 0 0 6px 0 @shadow-color, inset 0 0 9px 0 @shadow-color;
  }

  .caption(@font-size, @margin-top) {
    .font(@font-size, @letter-spacing: @font-size / 11, @font-family: @font-lobster);
    text-shadow: 0 0 20px @shadow-color;
    margin: @margin-top 0 0 0;
    cursor: default;
  }

  h1 {
    .caption(120px, 4 * @grid-unit);
  }

  h2 {
    .caption(100px, 2 * @grid-unit);
  }

  h3 {
    .font(50px, 700);
    cursor: default;
  }

  h4 {
    .font(32px, 500);
    cursor: default;
  }

  p.not-working {
    margin-top: 20 * @grid-unit;
    cursor: default;
  }
}
