@height: 40px;

.click-pic() {
  display: inline-block;
  float: right;
  margin-top: -@button-border-size;
  width: @height;
  height: @height;
  content: '';
  background-size: @height;
}

.quest {
  .center();

  position: fixed;
  left: 40%;
  top: 50%;
  z-index: 10;

  @bg-color: #FFF9E2;

  background: @bg-color;
  border: @button-border-color solid @button-border-size;
  border-radius: 9px;
  @pad-top: @grid-unit;
  @pad-bottom: 2 * @grid-unit;
  padding: @pad-top 0 @pad-bottom 0;

  cursor: default;

  @header-bg-color: #FFD180;

  @margin: 5px;

  .animate();

  &__icon {
    @pic-size: @height - 2 * @margin;
    display: inline-block;
    float: left;
    background: transparent no-repeat;
    .size(@pic-size);
    background-size: @pic-size;
    margin: 12px 0 0 9px;
  }

  &__hide {
    .hide(4 * @grid-unit);
    display: none;
  }

  &__body {
    @padding-h: 50px;
    padding: 0 @padding-h 0 @padding-h;
    .font(16px, 500);
    line-height: 24px;
    border-radius: 0 0 7px 7px;
    .animate();

    h2 {
      margin: 15px 0 20px 0;
      .font(24px, 700);
    }

    p {
      margin: 10px 0 10px 0;
    }

    &__button {
      .button();
      display: none;
      @click-height: @height;
      margin: @grid-unit 0 @grid-unit 0;
      padding: 0 5px 0 14px;
      height: @click-height;
      .font(18px, @letter-spacing: -0.3px);
      line-height: @click-height - 2 * @button-border-size;
    }
  }
}

.quest--next {
  .quest__body__button {
    display: inline-block;
    &:after {
      .click-pic();
      background: transparent data-uri('src/main/assets/sword/quests/buttons/next.svg') no-repeat;
    }
  }
}

.quest--reward {
  .quest__body__button {
    display: inline-block;
    &:after {
      .click-pic();
      background: transparent data-uri('src/main/assets/sword/quests/buttons/reward.svg') no-repeat;
    }
  }
}

.quest--hide {
  .quest__hide {
    display: inline-block;
  }
}

.near-header(@margin) {
  .animate();
  .center(@margin);

  top: 0;
  left: 40%;

  padding-bottom: 10px;

  .quest__body {
    .animate();
    text-align: center;
    max-width: 100%;
  }

  .quest__icon {
    margin: 7px 0 0 16px;
  }
}

.quest.quest--header {
  .near-header(0);
}

.quest.quest--under-header {
  .near-header(70px);
}

.highlighted {
  box-shadow: inset 0 0 1px 0 #FFF9E2, 0 0 2px 3px #FFF9E2;
  &:hover {
    box-shadow: inset 0 0 1px 0 #FFF9E2, 0 0 2px 3px #FFF9E2;
  }
}

.quest.highlighted {
  box-shadow: none;
  z-index: 2000;
}
