.question {
  .border();

  @pad-v: 2 * @grid-unit;
  width: 69 * @grid-unit - 1;
  height: 24 * @grid-unit - 1;
  padding: @pad-v 0 @pad-v + @grid-unit 3 * @grid-unit;
  background-color: @bubble-bg-color;
  margin-bottom: @cell-unit + 1px;

  &__friend {
    cursor: default;

    .friend__photo {
      @pic-size: 75px;
      .size(@pic-size);
      .border(@bubble-border-color);
      display: inline-block;
      border-radius: 50%;
      background-size: @pic-size;
    }

    .friend__name {
      .font(32px);
      position: absolute;
      display: inline-block;
      margin: 3px 0 0 2 * @grid-unit;
    }
  }

  &__wording {
    .font(20px, 500);
    cursor: default;
    margin: -35px 0 0 95px;
    position: absolute;
  }

  &__answer {
    margin-left: 95px;
  }

  &__cell {
    @size: 5 * @grid-unit - 1;
    .size(@size);
    .font(36px);
    overflow: hidden;
    cursor: pointer;

    text-align: center;
    line-height: @size;
    display: inline-block;
    margin-right: 3px;
    background: #B1DCCF;
    border-radius: 11px;

    &--current {
      background-color: #59B8BB;
    }

    &--disabled {
      .border(@bubble-border-color);
      background: @bubble-bg-color;
      line-height: @size - 2 * @button-border-size;
    }

    &--disabled&--current {
      background: #B0CC80;
      border: none;
      line-height: @size;
    }
  }

  &__hide {
    .hide(40px, @pad-v);
  }

  &__comment {
    margin: 15px 20px 0 95px;
    display: inline-block;
    .textarea(@width: 37 * @grid-unit, @height: 5 * @grid-unit);
  }

  &__submit {
    .button();
    .font(18px, 500);
    display: inline-block;
    width: 10 * @grid-unit;
    height: 4 * @grid-unit;
    line-height: 16px;

    padding: 10px 10px 9px 16px;

    float: right;
    margin: 15px 70px 0 0;
  }

  &__hidden-input {
    .hidden-input();
  }
}
