
.shop-shade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: fade(black, 70%);
}

.shop {
  @shop-width: 68 * @grid-unit;

  position: fixed;
  left: 0;
  top: 0;
  width: @shop-width;
  background-color: #FFF0C6;
  border-radius: 7px;
  margin: 8 * @grid-unit 4 * @grid-unit 5 * @grid-unit 4 * @grid-unit;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: black;

  .user-select(none);

  &__header {
    @padding-v: 0.5 * @grid-unit;
    @height: 5 * @grid-unit - 2 * @padding-v;
    padding: @padding-v 0 @padding-v 0;
    width: @shop-width;
    height: @height;
    background-color: #FFD180;

    border-radius: 7px 7px 0 0;

    cursor: default;

    &__balance {
      display: inline-block;
      margin-left: 4 * @grid-unit;

      font-size: 28px;
      font-weight: 700;
      line-height: @height;

      &:after {
        display: block;
        float: right;
        width: @height;
        height: @height;
        margin: 5px 0 0 5px;
        content: '';
        background-size: @height;
        .bg('header/progress-star.png', 'header/progress-star@2x.png', 28px);
      }
    }

    &__caption {
      display: inline-block;
      margin-left: 10 * @grid-unit;

      font-size: 32px;
      font-weight: 500;
      line-height: @height;
    }
  }

  &__logo {
    @size: 10 * @grid-unit;

    left: -@size * 2 / 5;
    top: -@size * 2 / 5 - 1;
    position: absolute;
    .size(@size);
    background: transparent url('shop/star-logo.svg') no-repeat;
  }

  &__close {
    @size: 5 * @grid-unit;

    left: @shop-width - 3/5 * @size;
    top: -2/5 * @size;
    position: absolute;
    .size(@size);
    background: #BAE0B5 data-uri('src/main/assets/sword/shop/cross.svg') no-repeat;

    border-radius: @size / 2;

    cursor: pointer;
  }

  &__row {
    display: block;
    @row-margin: 2 * @grid-unit;
    @row-height: 7 * @grid-unit;
    margin: @row-margin;
    height: 7 * @grid-unit;
    width: @shop-width - 2 * @row-margin;
    position: relative;

    background-color: fade(#FFC86E, 40%);

    border-radius: 10px;

    .clearfix();

    &__pic {
      @size: 12 * @grid-unit;
      position: absolute;
      left: -@size / 6;
      top: -@size / 5;
      .size(@size);

      background-size: @size;

      border-radius: 10px;

      cursor: default;
    }

    &__block {
      display: inline-block;
      float: left;
      margin-left: 8 * @grid-unit;
      height: @row-height;
      width: 26 * @grid-unit;
      background-color: #9FD7C0;

      border-radius: 34px;
      cursor: default;

      .clearfix();

      &__amount {
        display: inline-block;
        float: left;
        margin-left: @grid-unit;
        width: 5.5 * @grid-unit;
        font-size: 32px;
        text-align: right;
        font-weight: 700;
        line-height: @row-height;
        text-shadow: 0 0 5px white;
      }

      &__bukovok {
        display: inline-block;
        float: left;
        margin-left: @grid-unit;
        font-size: 20px;
        font-weight: 400;
        line-height: @row-height;
      }

      &__discount {
        display: inline-block;
        float: right;
        margin-right: 2 * @grid-unit;
        color: darkred;
        width: 6 * @grid-unit;

        &__value {
          font-size: 28px;
          line-height: 28px;
          font-weight: 500;
          text-align: center;
          margin-top: @grid-unit + 2;
        }

        &__text {
          font-size: 18px;
          line-height: 14px;
        }
      }
    }

    &__price {
      @padding-h: 0.5 * @grid-unit;
      display: inline-block;
      float: left;
      padding: 0 @padding-h 0 1.5 * @padding-h;
      width: 13 * @grid-unit - @padding-h;
      height: @row-height;

      cursor: default;

      .clearfix();

      &__value {
        display: inline-block;
        float: left;
        width: 38px;

        font-size: 26px;
        font-weight: 500;
        line-height: @row-height;
        text-align: right;
        text-shadow: 0 0 5px white;
      }

      &__text {
        display: inline-block;
        float: left;
        margin-left: @grid-unit;

        font-size: 16px;
        font-weight: 400;
        line-height: @row-height;
      }
    }

    &__buy-button {
      display: inline-block;
      float: right;
      @bg-color: #FFBC49;
      @margin: @grid-unit;
      @height: @row-height - 2 * @margin;

      margin: @margin @margin @margin 0;
      width: 15 * @grid-unit;
      height: @height;

      border-radius: 30px;
      background-color: @bg-color;
      box-shadow: 0 0 4px 0 @bg-color;

      cursor: pointer;

      font-size: 26px;
      font-weight: 500;
      text-align: center;
      line-height: @height;
    }
  }
}

.ok {
  .shop__row__price__text {
    font-size: 22px;
  }

  .shop__row__price__value {
    margin-left: 2 * @grid-unit;
    font-size: 28px;
    width: 45px;
  }
}

.vk {
  .shop__row__price__text {
    font-size: 20px;
  }

  .shop__row__price__value {
    margin-left: 0;
    font-size: 28px;
    width: auto;
  }
}

.my {
  .shop__row__price {
    padding-left: 6px;
  }

  .shop__row__price__value {
    width: 37px;
  }
}

.shop__row.shop__row--gift {
  border: @button-border-size solid @button-border-color;
  background-color: #FFC86E;

  .shop__row__price {
    width: 120px;
  }

  .shop__row__price__value {
    width: 30px;
  }

  .shop__row__buy-button {
    background-color: #ff9b33;
    box-shadow: 0 0 4px 0 #ff9b33;
  }
}
